.login-form {
    align-items: center;
    justify-content: center;
    background-color: rgb(230, 16, 16);
    padding: 200px 20px;
    background-image: url('https://images5.alphacoders.com/349/349822.jpg');
    background-size: 100% 100%; 
    width: 30%;
    height: 30%;
    margin:0 auto;
  }
  .g-button {
    width: 200px;
    height: 50px;
    background-color: lightseagreen;
    border-radius: 5px;
    border-color: lightseagreen;
    
  }
  .login-form:hover {
   color:rgb(0, 0, 0);
  }
  .g-button:hover {
   color:green;
  }
  