/* img {
    width: 100%;
    max-height:450px;
    -o-object-fit: cover;
    object-fit: cover;
    background: #232a34;
    size: 100% 100%;
    
  } */
  .header{
    margin-right: 120px;
    display: inline;
    background-color: none;
  }

  img{
   
    max-height: 500px;
   max-width: 400px; 
  }
  .background-img{
  background-image: url('https://c1.wallpaperflare.com/preview/6/757/217/nature-travel-adventure-friends.jpg');
  }
  .carusel-side{
    background-color: rgba(255, 0, 0, 0.418);
  }
  .height{
    height: 500px;
    margin-left: 900px;
  }