.fill-comfort {
    padding: 50px 20px;
    background-color: #ebe8e8;
  }
  .comfort {
    letter-spacing: 50;
    padding: 30px;
  }
  .fill-comfort-para {
    font-size: 15px;
    color:rgb(160, 159, 159);
  }

  .order-lists{
      color:rgb(0, 0, 0);
      margin:left;
  }