.footer {
    background-color: #e4e4e49c;
    color: rgb(0, 0, 0);
    padding: 100px 20px;
  }
  .last-fotter {
    color: wheat;
    background-color: rgba(0, 0, 0, 0.918);
    padding: 20px;
  }
  