.confirm-booking-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .confirm-booking-form form input {
    text-align: center;
    width: 40%;
    margin: 6px;
    padding: 8px;

    color: #000000;
    border-radius: 20px;
    border: 2px solid #afafaf;
  }
  .confirm-booking-form textarea {
    text-align: center;
    width: 40%;
    margin: 6px;
    padding: 8px;
    
    color: #000000;
    border-radius: 20px;
    border: 1px solid #bebebe;
  }
  .confirmbutton:hover {
    background-color: #dfbf9a;
  }
  .disableinput {
    display: none;
  }
  